*~
*.LCK
*_flymake.*
\#*
.\#*
.bundle
.DS_Store
.svn
config/*.sphinx.conf
coverage
db/*.bkp
db/deep_test*
db/*.sqlite3
db/*sphinx
log/test
log/*.log
log/*.pid
log/culerity_page_errors
public/system
public/p/*
public/culerity_page_errors
public/javascripts/all.js
public/stylesheets/all.css
public/images/upload
public/data
vendor/bundle
test/log
tmp
coverage.data
rerun.txt
test/fixtures/vcr_cassettes
